* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #13293D;
    color: #f4f4f9; 
    line-height: 1.6;
    font-family: 'Exo 2', sans-serif;

}

header {
    text-align: center;
    padding: 2rem;
    background-color: #18435a; 
    color: #f4f4f9; 
}

header h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.author, .id {
    font-size: 1rem;
    margin: 0.2rem;
}
#lCont{
    display: flex;
    max-width: 1rem;
}

#rLogo{
    aspect-ratio: 4/3;
    object-fit: contain;
    height: 30px;
}

#lTxt{
    margin: auto; 
    margin-left: 0;
    margin-right: 2px;
}   

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #2a628f; 
    border-bottom: 2px solid #16324F; 
}

nav a {
    color: #f4f4f9;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

nav a:hover {
    color: #3e92cc; 
}

#github-link {
    display: flex;
    align-items: center;
}

section {
    padding: 2rem;
    text-align: center;
    background-color: #13293D; 
}

section h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #3e92cc;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 0.5rem 0;
}

ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #f4f4f9; 
    font-weight: 500;
}

ul li a:hover {
    color: #3e92cc; 
    font-weight: 700;
}
